//
// Base
// --------------------------------------------------

body
  font-size: $font-size-base // 14px
  color: $color-text
  background: $color-bg

a
  text-decoration: none

li
  list-style: none

.clear-fix
  &::after
    content: ''
    display: table
    clear: both