//
// Base
// --------------------------------------------------

body
  font-size: $font-size-base // 14px
  color: $color-text
  background: $color-bg
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif

a
  text-decoration: none

li
  list-style: none

.clear-fix
  &::after
    content: ''
    display: table
    clear: both